.footer {
  padding-top: 100px;
}

.title__two_contacts {
  margin-bottom: 50px;
}

.contacts__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.contacts__address {
  font-style: normal;
  margin-bottom: 35px;
}

.contacts__address_text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 55px;
  white-space: pre-wrap;
  line-height: 0;
}

.contacts__address_text:before {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  content: url(../img/location.svg);
  width: 35px;
  margin-right: 27px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__list_tel {
  margin-bottom: 10px;
}

.contacts__list_tel:before {
  content: url(../img/phone.svg);
  width: 35px;
  margin-right: 27px;
  display: inline-block;
  vertical-align: middle;
}

.contacts__list_mail:before {
  content: url(../img/mail.svg);
  width: 35px;
  margin-right: 27px;
  display: inline-block;
  vertical-align: middle;
}

.contacts__list_link {
  text-decoration: none;
  color: #fff;
}

.icons__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.icons__list_item{
  color: #fff;
}

