.footer {
  padding-top: 100px;
}

.footer__title {
  margin-bottom: 60px;
}

.contacts__text {
  padding-left: 60px;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.address {
  font-style: normal;
  margin-bottom: 35px;
  padding: 0;
}

.contacts__address {
  display: inline-block;
  margin: 0 0 40px;
  white-space: pre;
  background-image: url(../img/location.svg);
  background-position: 0 40%;
  background-repeat: no-repeat;
  max-height: 60px;
}

.contacts__tel {
  margin-bottom: 11px;
  list-style: none;
  background-image: url(/img/phone.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts__mail {
  list-style: none;
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contacts__list_link {
  text-decoration: none;
  color: #fff;
}

.social {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 50px;
}

.social__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 22px;
  max-height: 50px;
}

.social__link {
  display: inline-block;
  color: #fff;
  max-height: 50px;
}

