* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1240px;
  padding: 146px 30px 51px;
  margin: 0 auto;
}

.title__two {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}